*
!*.yaml
!.gitignore
!*.sh
!*.md
!*.html
!*.svg
!*.css
!*.js
!*.sensor
!esphome
!cmds
!packages
!scripts
!automations
!www
!custom_ui
!floorplan
!lib
!panels
!binary_sensors
!blueprints
!custom_components
!deps
!glances
!homebridge
ms365_storage
!panels
!pymyq
!tts
zigbee2mqtt
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant_v2.db
