*
!*.yaml
!.gitignore
!*.sh
!*.md
!*.html
!*.svg
!*.css
!*.js
!*.sensor
!cmds
!packages
!scripts
!automations
!www
!custom_ui
!floorplan
!lib
!panels
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant_v2.db
