homeassistant:
  auth_providers:
    - type: homeassistant
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: us_customary
  time_zone: America/Chicago
  customize: !include customize.yaml
  packages: !include_dir_named packages
  currency: USD
  country: US

frontend:

config:

http:
   use_x_forwarded_for: true
   trusted_proxies:
     - 172.16.0.0/12
     - 173.245.48.0/20
     - 103.21.244.0/22
     - 103.22.200.0/22
     - 103.31.4.0/22
     - 141.101.64.0/18
     - 108.162.192.0/18
     - 190.93.240.0/20
     - 188.114.96.0/20
     - 197.234.240.0/22
     - 198.41.128.0/17
     - 162.158.0.0/15
     - 104.16.0.0/13
     - 104.24.0.0/14
     - 172.64.0.0/13
     - 131.0.72.0/22
mobile_app:

conversation:

sun:

recorder:
  db_url: !secret mariadb_url
  purge_keep_days: 60
  auto_purge : true
  auto_repack: true

sensor: !include sensors.yaml

cloud:

group: !include groups.yaml
automation: !include_dir_list automations/
script: !include_dir_list scripts/

mqtt:
  sensor:
    - name: boysroomtemp
      state_topic: "tele/boysroom/SENSOR"
      value_template: "{{ value_json['AM2301'].Temperature }}"
      unit_of_measurement: "째F"
    - name: boysroomhumidity
      state_topic: "tele/boysroom/SENSOR"
      value_template: "{{ value_json['AM2301'].Humidity }}"
      unit_of_measurement: "%"
    - name: mechanicalroomtemp
      state_topic: "mechanicalroom/temperature"
      unit_of_measurement: "째F"
    - name: mechanicalroomhumidity
      state_topic: "mechanicalroom/humidity"
      unit_of_measurement: "%"
    - name: garagetempf
      state_topic: "garage/temperature_f"
      unit_of_measurement: "째F"
    - name: garagetempc
      state_topic: "garage/temperature_c"
      unit_of_measurement: "째C"
    - name: garagehumidity
      state_topic: "garage/humidity"
      unit_of_measurement: "%"
    - name: Zigbee2mqtt Networkmap
      # if you change base_topic of Zigbee2mqtt, change state_topic accordingly
      state_topic: zigbee2mqtt/bridge/response/networkmap
      value_template: >-
        {{ now().strftime('%Y-%m-%d %H:%M:%S') }}
      # again, if you change base_topic of Zigbee2mqtt, change json_attributes_topic accordingly
      json_attributes_topic: zigbee2mqtt/bridge/response/networkmap
      json_attributes_template: "{{ value_json.data.value | tojson }}"
  switch:
    - name: boys_lamp
      state_topic: "stat/boysroom/POWER"
      command_topic: "cmnd/boysroom/POWER"
      availability_topic: "tele/boysroom/LWT"
      qos: 1
      payload_on: "ON"
      payload_off: "OFF"
      payload_available: "Online"
      payload_not_available: "Offline"
      retain: true


zone:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  radius: 4500
  icon: mdi:home

notify: !include notifications.yaml

switch: !include switches.yaml

zeroconf:

camera: !include cameras.yaml

light:
  - platform: group
    name: Boy's Room
    entities:
      - light.hue_white_lamp_1
      - light.hue_white_lamp_2

logger:
  default: error

climate:

history:

system_health:

ffmpeg:

api:

default_config:

input_datetime:
  climate_night:
    has_time: true
  climate_morning:
    has_time: true
  resetlights:
    has_time: true
  bedtime:
    has_time: true
  workday_start:
    has_time: true
  workday_end:
    has_time: true
  downstairshallwaynightlight:
    has_time: true
  gardenwatertime:
    has_time: true

input_number:
  garage_ac_set_point_low:
    name: "Garage AC Set Point Low"
    mode: box
    initial: 73
    min: 60
    max: 80
    step: 1
  garage_ac_set_point_high:
    name: "Garage AC Set Point High"
    mode: box
    initial: 78
    min: 60
    max: 80
    step: 1
  garage_heat_set_point_low:
    name: "Garage Heat Set Point Low"
    mode: box
    initial: 66
    min: 60
    max: 80
    step: 1
  garage_heat_set_point_high:
    name: "Garage Heat Set Point High"
    mode: box
    initial: 71
    min: 60
    max: 80
    step: 1
  ac_set_point_home_day:
    name: "AC Set Point Home Day"
    mode: box
    initial: 73
    min: 60
    max: 80
    step: 1
  ac_set_point_away_day:
    name: "AC Set Point Away Day"
    mode: box
    initial: 76
    min: 60
    max: 80
    step: 1
  ac_set_point_home_night:
    name: "AC Set Point Home Night"
    mode: box
    initial: 73
    min: 60
    max: 80
    step: 1
  ac_set_point_away_night:
    name: "AC Set Point Away Night"
    mode: box
    initial: 75
    min: 60
    max: 80
    step: 1
  heat_set_point_home_day:
    name: "Heat Set Point Home Day"
    mode: box
    initial: 71
    min: 60
    max: 80
    step: 1
  heat_set_point_away_day:
    name: "Heat Set Point Away Day"
    mode: box
    initial: 68
    min: 60
    max: 80
    step: 1
  heat_set_point_home_night:
    name: "Heat Set Point Home Night"
    mode: box
    initial: 69
    min: 60
    max: 80
    step: 1
  heat_set_point_away_night:
    name: "Heat Set Point Away Night"
    mode: box
    initial: 66
    min: 60
    max: 80
    step: 1
  auto_low_set_point_home_day:
    name: "Auto Low Set Point Home Day"
    mode: box
    initial: 71
    min: 60
    max: 80
    step: 1
  auto_low_set_point_away_day:
    name: "Auto Low Set Point Away Day"
    mode: box
    initial: 68
    min: 60
    max: 80
    step: 1
  auto_high_set_point_home_day:
    name: "Auto High Set Point Home Day"
    mode: box
    initial: 73
    min: 60
    max: 80
    step: 1
  auto_high_set_point_away_day:
    name: "Auto High Set Point Away Day"
    mode: box
    initial: 76
    min: 60
    max: 80
    step: 1
  auto_low_set_point_home_night:
    name: "Auto Low Set Point Home Night"
    mode: box
    initial: 69
    min: 60
    max: 80
    step: 1
  auto_low_set_point_away_night:
    name: "Auto Low Set Point Away Night"
    mode: box
    initial: 66
    min: 60
    max: 80
    step: 1
  auto_high_set_point_home_night:
    name: "Auto High Set Point Home Night"
    mode: box
    initial: 75
    min: 60
    max: 80
    step: 1
  auto_high_set_point_away_night:
    name: "Auto High Set Point Away Night"
    mode: box
    initial: 78
    min: 60
    max: 80
    step: 1
  garden_soil_moisture_level:
    name: "Garden Soil Moisture Level"
    mode: box
    initial: 40
    min: 0
    max: 100
    step: 1
  length_of_time_to_water_the_garden:
    name: "Length of Time to Water the Garden"
    mode: box
    initial: 30
    min: 0
    max: 60
    step: 1

ios:

device_tracker:
  - platform: bluetooth_le_tracker
    consider_home: 30
    track_battery: true
    interval_seconds: 60
    new_device_defaults:
      track_new_devices: true


binary_sensor: !include_dir_merge_list binary_sensors/

powercalc:

#influxdb:
#  api_version: 2
#  host: !secret influxdb_host
#  port: 8086
#  database: !secret influxdb_database
#  username: !secret influxdb_username
#  password: !secret influxdb_password
#  ssl: false